# Packages
bin/
build/
dist/
lib/

# git
!.vscode/

# yarn related
node_modules
.pnp.*
*.yalc
yalc.lock
**/.yarn/*
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
# patches contain the patchfiles which have been generated with the `yarn patch-commit` command.
# We always want them in repository, since they are necessary to install dependencies.
!.yarn/patches

# results of tsc build
*.tsbuildinfo

# result of linting
.eslintcache

#coverage
.coverage
.jest-cache

# misc
.DS_Store
.srl
yarn-error.log
.dccache

# generated data
certificate
.env
